.userinf {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f2f2;
}

.userinf ul {
  list-style: none;
  padding: 0 15px;
  background-color: #fff;
}

.userinf ul li {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px 0;
}

.userinf ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userinf ul li > span {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
}

.userinf ul .ant-divider {
  margin: 0;
}

.userinf .logout {
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #f2495e;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
}
